@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex whitespace-nowrap justify-center items-center gap-3 cursor-pointer rounded-lg select-none ease-in duration-200 border border-transparent px-3 py-2 md:px-3 md:py-3;
  }

  .btn-nav {
    @apply hover:text-rose-400 px-5 py-5 md:px-3 md:py-3;
  }

  .btn-primary {
    @apply text-white bg-black hover:opacity-60 dark:bg-rose-400;
  }

  .btn-secondary {
    @apply text-black border-black hover:bg-neutral-200 dark:bg-rose-400 dark:border-0 dark:text-white;
  }

  .btn-small {
    @apply text-sm px-2 py-1 md:px-3 md:py-1;
  }
}

body {
  @apply antialiased;
}

.text-link,
p > a {
  text-decoration: underline;

  @apply transition-opacity duration-200 ease-out;
  @apply hover:opacity-70;
}

* {
  @apply outline-neutral-200;
}

p + * {
  @apply mt-4;
}

::selection {
  @apply bg-neutral-200;
}

svg#preloader {
  width: 240px;
  height: 120px;
}

svg #plug,
svg #socket {
  fill: #4f46e5;
}

svg #loop-normal {
  fill: none;
  stroke: #4f46e5;
  stroke-width: 12;
}

svg #loop-offset {
  display: none;
}

/* Hide arrows of number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide scroll bars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Wallet connect web3modal theme */
button[data-testid="component-big-button"] {
  background: transparent;
}

/* Toast Styles */
.Toastify__toast {
  border: 1px rgb(51 65 85) solid;
  backdrop-filter: blur(10px);
}
.Toastify__toast .Toastify__toast-body {
  align-items: flex-start;
}
.Toastify__toast-body .Toastify__toast-icon {
  margin-top: 2px;
}
